td, .even-list-item {
  background-color: #e6f3ff;
}

th, .year-item {
  background-color: #cce6ff;
}

td, th, ul.dropdown-items li {
  border: 1px solid white;
}

.report-child {
  border: 1px solid black;
}


.odd-list-item {
  background-color: #ffe6e6;
}

.dropdown:hover, ul.dropdown-items li:hover {
  background-color: #80b3ff;
}
